<div class="login">
  <form>
    <input type="text" value="Username"></input>
    <input type="password" value="Password"></input>
    <a class="login-button">Log In</a>
    <a class="close-overlay"></a>
  </form>
</div>
