<div class="register">
  <form>
    <input type="text" value="Username"></input>
    <input type="text" value="E-mail"></input>
    <input type="text" value="Password"></input>
    <input type="text" value="Password again"></input>
    <a class="reg-button">Register</a>
    <a class="close-overlay"></a>
  </form>
</div>
