<div class="two-column-layout">
  <div class="size1of2">
      <div class="logo large"></div>
  </div>
  <div class="size1of2">
      <div class="announcement-bar">
        <div class="box square colored centered"></div>
        <div class="leaves">
          Fantasy TD is currently under development.<br />
          Try our beta quickplay mode, and log in as a guest.
        </div>
      </div>
  </div>

</div>