<div class="two-column-layout box square">

  <div class="size2of3">
    <div class="inner">
      <div class="box transparent" style="min-height: 525px;">
        <form class="multistep">

          <div class="step first-step">
            <h2 class="title gold pulled">Choose Game Title</h2>
              <div class="small description">
                <p>“Name your game. Your title should represent your current game
                    configurations. The title is shown in the game lobby. Password is not required.
                    If the field is left blank, password is not needed for other players to enter.”
                </p>
              </div>
            <div class="image create-game-info"></div>
            <input type="text" name="title" class="input medium chooser" placeholder="Game Title" />
            <input type="password" name="password" class="input medium chooser" placeholder="Password" />

          </div>

          <div class="step">
            <h2 class="title gold pulled">Choose Game Mode</h2>
              <div class="small description">
                <p>“You can play cooporative or player vs. player. Currently pvp is only made
                    for 1 vs. 1 and 2 vs. 2. Choose game type, and then how many players.”
                </p>
              </div>
            <div class="image create-game-mode"></div>
            <select name="mode" class="input medium chooser">
              <option>Select a Game Mode</option>
              <option>Coop</option>
            </select>
            <select name="playerLimit" class="input medium chooser">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>

          <div class="step">
            <h2 class="title gold pulled">Choose Game Map</h2>
              <div class="small description">
                <p>“This map is designed for Co-Op games. The map is made
                    for 1, 2 or 4 players. If you play 4 players, you most likely
                    have to play 2 together, on each side of the endpoint.”
                </p>
              </div>
            <div class="image create-game-map"></div>
            <select name="map" data-placeholder="Map" class="input medium chooser">
              <option>Select a Map</option>
            </select>
            <select name="difficulty" class="input medium chooser">
              <option>Graceful</option>
              <option>Elite</option>
              <option>Heroic</option>
              <option>Titan</option>
            </select>
          </div>

        </form>
        <div class="next-step">
          <a href="next" class="button medium half green enter">Next</a>
        </div>
      </div>
    </div>
  </div>

  <div class="size1of3">
    <div class="inner">
      <div class="box transparent">
        <h3 class="title silver pulled">Create Game Steps:</h3>
        <div class="stepinfo">
          <div class="step">
            <span>Choose Title</span>
            <div class="substep"><span>Choose Title</span></div>
            <div class="substep"><span>Choose Password</span></div>
          </div>
          <div class="step">
            <span>Select Mode</span>
            <div class="substep"><span>Select Mode</span></div>
            <div class="substep"><span>Set Player Limit</span></div>
          </div>
          <div class="step">
            <span>Select Map</span>
            <div class="substep"><span>Select Map</span></div>
            <div class="substep"><span>Select Difficulty</span></div>
          </div>
        </div>
        <a href="create" class="button medium red enter">Go Back</a>
      </div>
    </div>
  </div>
</div>
