<div class="one-column-layout box square">

  <div class="size1of1">
    <div class="inner">
      <div class="box transparent">
        <div class="matrix-head box list-head">
          <ul class="col4">
            <li>Score:</li>
            <li>Kills:</li>
            <li>Tower actions:</li>
            <li>XP gained:</li>
          </ul>
        </div>
        <div class="matrix-body heigher">
          <% _.each( game.get( 'players' ), function( player, index ) { %>
          <div class="list-item box list" data-gameid="<%= game.get( 'id' ) %>">
            <ul class="col4">
              <li><%= game.get( 'title' ) %></li>
              <li><%= game.get( 'map' ).title %></li>
              <li><%= game.get( 'mode' ) %></li>
              <li><%= game.get( 'players' ).length %>/<%= game.get( 'playerLimit' ) %></li>
            </ul>
          </div>
          <% }); %>
        </div>
      </div>
      <a class="button large green" href="/game/lobby">Back to lobby</a>
    </div>
  </div>
</div>
