<div class="two-column-layout box square">

  <div class="size2of3">
    <div class="inner">
      <div class="box transparent">
        <div class="matrix-head box list-head">
          <ul class="col4">
            <li style="width: 200px;"><h3 class="title gold">Title:</h3></li>
            <li style="width: 120px;"><h3 class="title gold">Map:</h3></li>
            <li style="width: 120px;"><h3 class="title gold">Mode:</h3></li>
            <li style="width: 110px;"><h3 class="title gold">Players:</h3></li>
          </ul>
        </div>
        <div class="matrix-body heigher">
          <% _.each( games.models, function( game, index ) { %>
          <div class="list-item box square list" data-gameid="<%= game.get( 'id' ) %>">
            <ul class="col4">
              <li style="width: 200px;"><span><%= game.get( 'title' ) %></span></li>
              <li style="width: 120px;"><%= game.get( 'map' ).title %></li>
              <li style="width: 120px;"><%= game.get( 'mode' ) %></li>
              <li style="width: 110px;"><%= game.get( 'players' ).length %>/<%= game.get( 'playerLimit' ) %></li>
            </ul>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>

  <div class="size1of3">
    <div class="inner">
      <div class="box transparent">
        <h3 class="title silver pulled">Filter Games</h3>
        <form>
          <input type="text" name="title" class="input medium" placeholder="Search title.." />
          <div class="chooser">
            <select data-placeholder="Select mode(s)" name="mode" class="input medium" multiple>
              <option>Coop</option>
            </select>
          </div>
          <div class="chooser">
            <select data-placeholder="Select map(s)" class="input medium" multiple>
              <option>Wasteland</option>
              <option>Green forrest</option>
              <option>Dead land</option>
              <option>The swamp</option>
            </select>
          </div>
        </form>

        <a href="create" class="button medium green enter">Create New Game</a>
        <input type="hidden" name="gameId" />
        <a href="join" class="button medium orange enter blank">Join Game</a>
        <a href="refresh" class="button medium blue enter">Refresh</a>

      </div>
    </div>
  </div>
</div>
