<div class="one-column-layout box square page-preGameLobby">

  <div class="">
    <div class="inner">
      <div class="box transparent">
        <div class="matrix-head box list-head">
          <ul class="col4">
            <li><h3 class="title gold">Player:</h3></li>
            <li><h3 class="title gold">Deck:</h3></li>
            <li><h3 class="title gold">Color:</h3></li>
            <li><h3 class="title silver">Ready:</h3></li>
          </ul>
        </div>
        <div class="matrix-body noscroll">
          <% _.each( players, function( player ) { %>
          <div class="list-item box square list" data-gameid="123fsfds">
            <ul class="col4">
              <li><%= player.get( 'name' ) %></li>
              <li><%= player.get( 'deck' ).title %></li>
              <li style="color: rgb(<%= ftd.getRealColor(player.get( 'color' ), 'rgb') %>);">
                <%= _.capitalize(ftd.getRealColor(player.get( 'color' ), 'text')) %>
              </li>
                <% _.each(game.get('playerState'), function( state ) {
                     if( player.get('id') == state.player )
                     {
                       state.ready ? print('<li class="green-text">') : print('<li>');
                       state.ready ? print('Yes') : print('No');
                       print('</li>')
                     }
                   });
                %>
              </li>
            </ul>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>

  <div class="size1of1">
    <div class="two-column-layout">

      <div class="size1of2">
        <div class="inner">
          <div class="box transparent">
            <div class="box square chatter">
              <div class="received"></div>
              <form class="chatForm">
                <input type="text" class="output" required></input>
                <input type="submit" disabled="disabled" class="send" value="Send"></input>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="size1of2">
        <div class="inner">
          <div class="box transparent">
            <a href="ready" class="button medium green enter">Ready</a>
            <div class="information-small">
              <p>
                <h3 class="title gold">Players:
                <span><%=  game.get('players').length  + '/' + game.get( 'playerLimit' )  %></span></h3>
              </p>
              <p>
                <h3 class="title gold">Map:
                <span><%= game.get( 'map' ).title %></span></h3>
              </p>
              <p>
                <h3 class="title gold">Mode:
                <span><%= game.get( 'mode' ) %></span></h3>
              </p>
              <p>
                <h3 class="title gold">Difficulty:
                <span><%= game.get( 'difficulty' ) %></span></h3>
              </p>
            </div>
            <a href="leave" class="button medium red enter">Leave Game</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="countdown circle medium">
    <div class="inner"></div>
  </div>
</div>
