<div class="two-column-layout" style="padding: 0 20px 0 20px;">
  <div class="size1of3">
    <p>Copyright 2013 &copy; Fantasy-TD.com</p>
  </div>
  <div class="size1of3">
    <p style="text-align: center">[ An Elvar & Hammer Production ]</p>
  </div>
  <div class="size1of3">
    <ul class="horizontal-menu small-text">
      <li><a class="about">About</a></li>
      <li><a class="terms">Terms</a></li>
      <li><a class="privacy">Privacy</a></li>
      <li><a class="help">Help</a></li>
    </ul>
  </div>
</div>