/**
 * Colors, fonts, widths, and mixins for the entire application is defined here. 
 * If you must use other property, define it here as a 
 * variable, and use that variable throughout the scss files.
**/

/* COLORS */

/* Default BG color */
$bgColor: #38444f;

/* TEXT COLORS */

$gold: #e9bc7b;
$silver: #d9d9d9;
$bronze: #c88042;

$green: #65cf86;
$lightGrey: #c6c6c6;
$grey: #9b9b9b;
$darkGrey: #686868;
$darkBlue: #41586e;

$cream: #f0d9b2;
$sand: #daa56b;

/* BUTTON COLORS */

/* green btn */
$greenTop: #8bdb91;
$greenBot: #5ba561;

/* red btn */
$redTop: #eb8585;
$redBot: #df4242;

/* orange btn */
$orangeTop: #fed697;
$orangeBot: #dea351;

/* grey btn */
$greyTop: #eaeaea;
$greyBot: #bcbbbb;

/* blue btn */
$blueTop: #9ad0ed;
$blueBot: #5f8caf;

/* BOX COLORS */
$layoutOuterBorder: #272f35;
$layoutInnerBorder: #949eab;
$boxGradient: #2f383e;
$boxBg: #45525a;
$boxBgDark: #2c3438;
/* SHADOWS */

/* text */
$textShadowBlack: 0px 1px rgba(0, 0, 0, 0.7);
$textShadowWhite: 0px 1px rgba(255, 255, 255, 0.7);

/* inputs */
$inputShadow: #2a2d31;

/* boxes */
$lightShadow: #536375;
$defaultShadow: #363636;
$darkShadow: #2d343d;

/* FONTS */

/* default */
$dfltFontColor: #FFFFFF;
$dfltFont: Tahoma;
$dfltFontSize: 12px;

/* DIMENSIONS */

/* default */
$page-width: 980px;
$margin: 10px;
$padding: 8px;
$border-radius: 5px;

/* Function */
@mixin ftd-linear-gradient($color1, $color2) {
  background-image: -ms-linear-gradient(top left, $color1 0%, $color2 100%);
  @include background-image(linear-gradient($color1, $color2));
}
