<div class="two-column-layout" xmlns="http://www.w3.org/1999/html">
  <div class="size1of3">
    <div class="inner">
      <div class="quickplay box transparent no">
        <h2 class="title">Quickplay:</h2>
          <form id="guestLogin" >
            <input class="input large" type="text" name="guestNickname" placeholder="Enter Guestname" />
            <a href="gameLobby" class="button medium green enter">Enter Game Lobby</a>
          </form>
      </div>
    </div>
  </div>
  <div class="size2of3">
    <div class="inner">
      <div class="box square colored">
        <div class="image quickplay"></div>
      </div>
    </div>
  </div>
</div>

<div class="two-column-layout">
  <div class="size2of3">
    <div class="inner">
      <div class="box square colored">
        <div class="image logon">
          <p><span class="text-highlight">Fantasy TD</span> is a pixelated multiplayer online tower defense game, which is currently in open beta.
            You simply enter a guest name and press "Enter game lobby". </p><br />
          <p>There you can search for,create and join games. We urge you to use Chrome or Safari for </p>
          <p>the best experience possible. If you do not have one of these browsers installed, you can get</p>
          <p>Chrome <a class="green-text" href="#">here</a> and Safari <a class="green-text" href="#">here</a>.</p>
          <p><span class="text-highlight">Let the gaming begin, have fun and try not to harass or troll too much.</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="size1of3">
    <div class="inner">
      <div class="login box transparent no">
        <h2 class="title">Log on:</h2>
        <input class="input medium" type="text" name="username" placeholder="Username" readonly />
        <input class="input medium" type="password" name="email" placeholder="Password" readonly />
        <a href="#" class="button medium green enter blank">Log On</a>
      </div>
    </div>
  </div>
</div>

<div class="two-column-layout">
  <div class="size1of3">
    <div class="inner">
      <div class="register box transparent no">
        <h2 class="title fat">Register:</h2>
        <form>
          <input class="input medium" type="text" name="username" placeholder="New Username" readonly />
          <input class="input medium" type="text" name="email" placeholder="E-mail Address" readonly />
          <input class="input medium" type="password" name="password" placeholder="New password" readonly />
          <input class="input medium" type="password" name="repassword" placeholder="Password again" readonly />
          <a href="register" class="button medium green enter blank">Register New User</a>
        </form>
      </div>
    </div>
  </div>
    <div class="size2of3">
      <div class="inner">
        <div class="box square colored">
          <div class="image register">
            <p><span class="text-highlight">As of now</span> it is not possible to register a permanent user, but we are
              working as hard as we can to makeit a reality, asap.</p>
            <p>We encourage you to play as a guest for now, and then sign up when the feature becomes available.</p> <br />
            <p>As a user you will be able to buy, sell, trade and gamble both towers and creeps. Also, you will be able to create
              your own decks of towers and creeps, and use your combinations ingame.</p>
            <p>In addition to that, you'll have a passive skill tree which unlocks step by step according to your overall user level. </p>
            <p><span class="text-highlight">Stay tuned, by following us on twitter <a class="green-text" href="">here</a>.</span></p>
          </div>
        </div>
    </div>
  </div>
</div>

