<div class="roundbox start-container">
  <form class="login-form">
    <input type="text" name="alias" />
    <input type="submit" value="true" name="join_lobby" />
  </form>

  <% _.each(games, function(game) { %>
  
  <div>
    <%= game.get('id') %>
  </div>

  <% }); %>
  
</div>

