/* Hover animation */
@include keyframes(hoverGlow) {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }
}

@include keyframes(pageOut) {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(0, 0);
    opacity: 0.0;
  }
}

@include keyframes(rotate) {
  0% {
    @include rotate(0deg);
  }
  50% {
    @include rotate(180deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@-webkit-keyframes move {
  0%   { left: 0px; }
  50%  { left: 350px; }
  100% { left: 0px; }
}
@-moz-keyframes move {
  0%   { left: 0px; }
  50%  { left: 350px; }
  100% { left: 0px; }
}

/* Animation classes */

@include animate-fadeOutLeft();
.fadeOutLeft {
  @include animation(fadeOutLeft 0.8s 1 linear forwards);
}

@include animate-flipInY();
.flipInY {
  @include animation(flipInY 1.2s 1 linear forwards);
}