/**
 * box-layout.scss
 * This sass content is intented for predefined boxes.
 * This means that every class in here is made generic,
 * so that all scss files can use them without overriding them.
 * Ex. a box with / without use of border image variables from _base.
 */

.box {
  position: relative;
  display: block;
  box-sizing: border-box;

  &.small {
    width: 200px;
  }
  &.medium {
    width: 400px;
  }
  &.large {
    width: 600px;
  }
  &.popped {
    border-radius: $border-radius;
    box-shadow: -1px 0px 10px #000;
  }
  &.transparent {
    border-radius: $border-radius;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    @include background(linear-gradient(top, 
                        // Top.
                        rgba($boxGradient, 0.80),
                        rgba($boxGradient, 0.50) 15%,
                        rgba($boxGradient, 0.0) 40%, 
                        // Bottom.
                        rgba($boxGradient, 0.0) 60%,
                        rgba($boxGradient, 0.50) 85%,
                        rgba($boxGradient, 0.80) ));
    &.no {
      background-color: $boxBg;
    }
  }

  &.square {
    border: 1px solid $layoutOuterBorder;
    box-shadow: inset 0 0 1px $layoutInnerBorder;
    @include background(linear-gradient(top, 
                        // Top.
                        rgba($boxGradient, 1),
                        rgba($boxGradient, 0.5) 25%,
                        rgba($boxGradient, 0.0) 50%, 
                        // Bottom.
                        rgba($boxGradient, 0.0) 50%,
                        rgba($boxGradient, 0.5) 75%%,
                        rgba($boxGradient, 1) ));
    &.colored {
      background-color: $boxBg;
    }
  }

  .list-item {
    padding: $padding;
    margin: 8px 15px 0 15px;
    & span {
      color: $cream;
    }
    &.selected, {
      color: $darkBlue;
      cursor: pointer;
      @include animation(hoverGlow 2s infinite linear);
      box-shadow: inset 0 0 1px white;
      @include background-image(linear-gradient($orangeTop, $orangeBot));
      & span {
      color: saddlebrown;
      }
      > ul, li {
        color: black;
      }

    }
  }
  .list-head {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: $padding;
    margin: 5px 15px 10px 15px;
  }
}
.list-item:hover {
  color: $darkBlue;
  cursor: pointer;
  @include animation(hoverGlow 2s infinite linear);
  box-shadow: inset 0 0 1px white;
  @include background(linear-gradient(top,
  // Top.
    rgba($greyTop, 0.4),
    rgba($greyBot, 0.4) ));
  & span {
    color: $cream;
  }
}

.circle {
  border-radius: 100%;
//  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  @include animation(hoverGlow 2s infinite linear);
  &.medium {
    overflow: auto;
    width: 80px;
    height: 80px;
    background: $cream;
    .inner {
      background: $boxBgDark;
      width: 63%;
      height: 63%;
      border-radius: 100%;
      margin: 7px auto;
      font-size: 30px;
      color: white;
      text-shadow: $textShadowBlack;
      line-height: 50px;
      text-align: center;
      box-shadow: inset 0 0 15px $darkShadow;
    }
  }
}

.information-small {
  margin: $margin * 2;
}

.chatter {
  height: 212px;
  margin: 8px 0 8px 0;
  >.received {
    margin: 4px 4px 0 4px;
    height: 170px;
    background-color: white;
  }
  >form.chatForm {
    height: 20px;
    margin: 0 4px 0 4px;
    >.output {
      height: 26px;
      width: 325px;
      background-color: white;
      padding-left: 5px;
    }
    >.send {
      height: 26px;
      width: 95px;
      background-color: white;
      cursor: pointer;
      color: black;
      &:hover {
        border: 1px solid $darkShadow;
      }
    }
  }
}