.logo_wrapper {
}

.logo {
  width: 350px;
  height: 85px;
  &.small {
    width: 200px;

  }
  &.medium {
    width: 400px;
  }
  &.large {
    background: url('../images/logo_open_beta_large.png') no-repeat;
  }
}
.image {
  p {
    font-family: metamorphous;
    font-size: 12px;
    color: white;
    text-shadow: 0px 1px black;
    line-height: 1.6em;
  }

  &.quickplay {
    background: url('../images/quickplay.png') center no-repeat;
    width: 597px;
    height: 155px;
    padding: 25px 0 0 10px;
    margin: 10px 0 0 10px;
  }

  &.logon {
    background: url('../images/logon.png') center no-repeat;
    width: 610px;
    height: 185px;
    padding-top: 25px;
    margin: 5px 0 0 0;
  }

  &.register {
    background: url('../images/register.png') center no-repeat;
    width: 610px;
    height: 280px;
    padding-top: 25px;
    margin: 10px 0 0 0;
    p {
      width: 430px;
    }
  }

  &.create-game-info {
    background: url('../images/create_game_info.png') no-repeat;
    width: 610px;
    height: 280px;
    margin: 0 auto;
  }

  &.create-game-mode {
    background: url('../images/create_game_mode.png') no-repeat;
    width: 610px;
    height: 320px;
    margin: 0 auto;
  }

  &.create-game-map {
    background: url('../images/create_game_map.png') no-repeat;
    width: 610px;
    height: 340px;
    margin: 0 auto;
  }
}

.announcement-bar {
  width: 488px;
  height: 79px;
  position: relative;
  float: left;

  > div {
    position: absolute;
  }

  >.centered {
    margin: 12px 10px 0 10px;
    z-index: 1;
    height: 67px;
    width: 468px;
  }
  .leaves {
    font-family: Tahoma;
    font-size: $dfltFontSize;
    background: url('../images/leaves.png') no-repeat;
    width: 450px;
    height: 45px;
    z-index: 2;
    padding: 34px 0 0 38px;
    color: $cream;
  }
}




