/**
 * io.scss.
 * Contains styling of input fields & buttons.
 */

/**
 * Buttons.
 */

input {
  margin: 5px 0;
}

.button {
  border: 1px solid black;
  border-radius: $border-radius;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  display: block;
  margin: $margin/2 auto $margin/2 auto;
  position: relative;
  color: black;
  font-family: $dfltFont;

  &.half {
    width: 50%;
  }

  &.medium {
    text-indent: 20px;
    font-size: 17px;
    padding: 8px 0;
    &:hover {
    }
  }
  &.red {
    @include ftd-linear-gradient($redTop, $redBot);
    text-shadow: 0px 1px $redTop;
    color: firebrick;
  }
  &.green {
    @include ftd-linear-gradient($greenTop, $greenBot);
    text-shadow: 0px 1px $greenTop;
    color: darkGreen;
  }
  &.orange {
    @include ftd-linear-gradient($orangeTop, $orangeBot);
    text-shadow: 0px 1px $orangeTop;
    color: saddlebrown;
  }
  &.blue {
    @include ftd-linear-gradient($blueTop, $blueBot);
    text-shadow: 0px 1px $blueTop;
    color: $darkBlue;
  }
  &.blank {
    @include ftd-linear-gradient($greyTop, $greyBot);
    text-shadow: 0px 1px $greyTop;
    color: $darkGrey;
    &:hover {
      color: $darkGrey;
    }
  }

  &.enter:after {
    content: "\f04b";
    position: absolute;
    top: 0;
    right: 36px;
    width: 1px;
    height: 40px;
    font-size: 20px;
    font-family: FontAwesome;
    color: transparent;
    text-indent: 10px;
    line-height: 35px;
    text-shadow:  2px 2px rgba(10, 10, 10, 0.5);
    background-image: -webkit-gradient(linear,center bottom,center top,color-stop(0.1,rgba(0,0,0,0)),color-stop(0.5,rgba(0,0,0,0.3)),color-stop(0.9,rgba(0,0,0,0)));
  }
  &.enter:before {
    content: '';
    width: 1px;
    height: 40px;
    position: absolute;
    right: 35px;
    top: 0;
    background-image:-webkit-gradient(linear,center bottom,center top,color-stop(0.1,rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.3)),color-stop(0.9,rgba(255,255,255,0)));
  }
}

.button:hover,
.selected {
  @include animation(hoverGlow 2s infinite linear);
  color: black;
}

/**
 * Input forms.
 */

.input, .chzn-choices {
  border-radius: $border-radius;
  border: 1px solid black;
  background: -webkit-linear-gradient(top, #FFFEFE, #E6E6E6);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
  width: 100%;

  &.small {
    font-size: 13px;
    text-indent: 13px;
    height: 25px;
  }

  &.medium {
    font-size: 20px;
    text-indent: 17px;
    height: 40px;
    min-height: 40px;
  }

  &.large {
    font-size: 30px;
    text-indent: 30px;
    height: 60px;
  }
}

/* Chooser for chzn */
.chooser {
  width: 49%;
  display: inline-table;
  vertical-align: top;
  margin-left: 1px;
}

/* Multiple steps form  */
form.multistep {
  .step:not(.first-step) {
    display: none;
  }
}

.stepinfo {
  margin: 10px 0 50px 20px;
  .step {
    font-family: metamorphous;
    font-size: 16px;
    color: $silver;
    display: inline-table;
    vertical-align: middle;
    text-shadow: $textShadowBlack;
    margin-left: 20px;
    width: 90%;
    margin-top: 20px;
    > span {
      margin-left: 5px;
      color: $green;
    }
    >.substep {
      width: 90%;
      display: inline-table;
      vertical-align: middle;
      text-shadow: $textShadowBlack;
      margin: 5px 0 0 30px;
      font-size: 12px;
      > span {
        margin-left: 5px;
        color: $silver;
      }
    }
    .substep:before {
      content: "\f096";
      font-family: FontAwesome;
      font-size: 12px;
    }
    .substep.completed:before {
      content: "\f046";
      color: $gold;
    }
  }
  .step:before {
    content: "\f096";
    font-family: FontAwesome;
    font-size: 16px;
  }
  .step.completed:before {
    content: "\f046";
    color: $gold;
  }
}
