/**
 * menu.scss
 * This sass content is intented for predefined menus, 
 * like small, default, big, these will then be used 
 * in whatever context desired.
**/

ul.horizontal-menu {
  text-align: right;
  list-style: none;
  > li {
    padding-left: 10px;
    display: inline-block;
    font-size: 12px;
    > a {
    }
    > a:hover {
      text-decoration: underline;
    }
  }
}
