/**
 * page-layout.scss
 * This sass file is intended for the most generel
 * usable column page layouts, the styling of footers,
 * headers, and stuff like that, which is used throughout
 * the application.
 */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background: $bgColor;
}

body > .wrapper {
  margin: 0 auto;
  padding: $padding;
  width: $page-width;
}

.inner {
  padding: $padding;
  > * {
    padding: $padding ($padding * 2);
  }
}

.one-column-layout,
.two-column-layout,
.three-column-layout,
.four-column-layout {
  margin: $margin 0;
  overflow: auto;
}

.size1of2,
.size1of3,
.size2of3,
.size1of4, {
  float:left;
}
.size1of2 {
  width: 50%;
}
.size1of3 {
  width: 33%;
}
.size2of3 {
  width: 66.66%;
}
.size1of4 {
  width: 25%;
}

.matrix-head ul,
.matrix-body ul{
  height: 15px;
  width: 100%;

  li {
    float: left;
    list-style: none;
  }
  &.col2 li {
    width: 50%;
  }
  &.col3 li {
    width: 33.3%;
  }
  &.col4 li {
    width: 25%;
  }
  &.col5 li {
    width: 20%;
  }
}

.matrix-body {
  overflow: scroll;
  min-height: 300px;
  .list-item {
    margin: 5px 0;
  }
  &.noscroll {
    overflow: auto;
  }
  &.heigher {
    height: 600px;
  }
}

.pageout {
  @include animation(pageOut 1s 1 linear forwards);
}

