/**
 * specifics.scss
 * This file contains css that don't belong in any other files.
 * If you are selecting something, that for instance is only used one place,
 * this is the place.
 */

/* OVERLAY */

.overlay {
  position:fixed; /* keeps the lightbox window in the current viewport */
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.0);
  display: none;
  @include transition(background-color 1.0s linear);

  .content {
    position: absolute;
    height: 300px;
    margin: -300px 0 0 -200px;
    left: 50%;
    background-color: #FFFFFF;
    @include transition(top 0.5s ease-out);
  }

  .close-overlay {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 40px;
    &:before {
      content: '\f057';
      font-family: FontAwesome;
    }
    &:hover {
      top: 3px;
      right: 7px;
      font-size: 45px;
    }
  }
}

// Add some colored text, in chosen.
.chzn-drop ul li {
  color: $darkBlue;
}

// load overlay.
.load {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba( 0, 0, 0, 0.5 );

  .icon {
    position: absolute;
    top: 45%;
    left: 50%;
    @include animation(rotate 1.0s infinite linear );
    &:after {
      content: '\f110';
      font-family: FontAwesome;
      font-size: 200%;
      color: white;
    }
  }
}

/* Create game specifics */

a[href="next"] {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -25%;
}

.next-step {
  margin-top: 70px;
}

.page-preGameLobby {
  position: relative;
  .countdown {
    position: absolute;
    top: 48%;
    left: 50%;
    margin-left: -40px;
    font-family: metamorphous;
  }
}