/**
 * typography.scss
 * This sass file is intended for all things related texts/labels.
 * All tags like h1, h2, a, p, etc of all classes must be defined here.
**/

/* Load fonts */
@font-face {
    font-family: 'metamorphous';
    src: url('../fonts/metamorphous/metamorphous-regular-webfont.eot');
    src: url('../fonts/metamorphous/metamorphous-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metamorphous/metamorphous-regular-webfont.woff') format('woff'),
         url('../fonts/metamorphous/metamorphous-regular-webfont.ttf') format('truetype'),
         url('../fonts/metamorphous/metamorphous-regular-webfont.svg#metamorphousregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p, li {
  font-size: $dfltFontSize;
  font-family: $dfltFont;
  color: $dfltFontColor;
}

.green-text {
  color: $green;
}

.blue-text {
  color: $darkBlue;
}

.box h2.title {
  font-family: metamorphous;
  font-size: 28px;
  color: $gold;
  text-shadow: $textShadowBlack;
  text-align: center;
  padding-bottom: 5px;
}

.box h3.title {
  font-family: metamorphous;
  font-size: 20px;
  text-shadow: $textShadowBlack;
  &.gold {
    color: $gold;
    > span {
      color: $cream;
      margin-left: 5px;
    }
  }
  &.silver {
    color: $silver;
  }
  &.bronze {
    color: $bronze;
  }
}

.box h4 {
  font-family: metamorphous;
  font-size: 14px;
  text-shadow: $textShadowBlack;
  color: $silver;
  &.title {
    font-size: 16px;
  }
}

.pulled {
  margin: 15px 0 5px 0;
  text-align: center;
}

.text-highlight {
  font-size: 15px;
  color: $gold;
  line-height: 2em;
}